{% extends "base.html" %}

{% block extrahead %}
<meta name="theme-color" content="#1a7dc9" />
{% endblock %}

{% block announce %}
{% if config.extra.version_warning %}
<div class="versionwarning" style="margin: .6rem auto; padding: 0 .8rem">
  <h1>⚠ You are viewing an archived snapshot of the documentation for dli version: {{ config.extra.dli_version }}</h1>
  <p>
  dli {{ config.extra.dli_version }} documentation is no longer actively maintained. The documentation you are currently viewing is a static snapshot. For up-to-date documentation, see <a href="{{ base_url }}/../docs/">the latest version</a>.
  </p>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <!-- For now, load Jquery and Bootstrap because the cookie warning (built from the hugo-based website) uses them -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.css"> 
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script>
$(document).ready(function() {
    $('#example').DataTable( {
        columnDefs: [
            {
                targets: ['_all'],
                className: 'mdc-data-table__cell'
            }
        ]
    } );
} );
  </script>  
	
  <script src="https://form.jotform.com/static/feedback2.js" type="text/javascript">
    new JotformFeedback({
      formId: "220680510959458",
      buttonText: "Feedback",
      base: "https://form.jotform.com/",
      background: "#4a4a4a",
      fontColor: "#FFFFFF",
      buttonSide: "right",
      buttonAlign: "center",
      type: false,
      width: 700,
      height: 500,
      isCardForm: false
    });
</script>
  
{% endblock %}
