.md-grid {
  max-width: 1440px;
}

/* text */

:root {
  --md-primary-fg-color: #f3f1f2;
  --home-color: #0071c7;
  --nav-item-color: #4d4d4d;
  --md-text-font-family: Roboto;
  --md-code-font-family: Roboto mono;
}

.md-clipboard {
  color: #024c93;
}

.highlight.no-copy .md-clipboard {
  display: none;
}

a.md-header__button.md-logo :-webkit-any(img, svg),
a.md-header__button.md-logo :is(img, svg),
a.md-header__button.md-logo img {
  width: 3rem;
  height: 2.4rem;
}

.md-header__button.md-logo {
  transition-duration: 0.2s;
  transition-property: transform;
}

.md-header__button.md-logo:hover {
  opacity: 1;
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
}

.md-header__topic {
  margin: 5px -14px;
}

.md-nav__item--nested>.md-nav__link, .md-nav__item a {
  color: var(--nav-item-color);
}

.md-nav__item .md-nav__link--active {
  font-weight: bold;
  color: var(--nav-item-color);
}

.md-nav__item--nested>.md-nav__link:hover {
  color: var(--md-accent-fg-color);
}

/* header css */
.md-header {
  color: black
}

.md-header[data-md-state=shadow], .md-tabs {
  background-color: #f3f1f2;
}

.md-tabs {
  color: black;
  font-weight: bold;
}

.md-header__source {
  color: #034b95;
}

.md-search__input {
  background-color: white;
  border: black 1px solid;
}

.md-search__input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #4d4d4d;
  opacity: 1;
  /* Firefox */
}

.md-search__input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #4d4d4d;
}

.md-search__input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #4d4d4d;
}

.md-search__input.focus-visible {
  border: none;
}

.md-search__icon[for=__search] {
  color: var(--md-default-fg-color--light);
}

.md-source__icon+.md-source__repository {
  font-weight: bold;
}

.md-tabs__list li:nth-last-child(1),
.md-tabs__list li:nth-last-child(2),
.md-tabs__list li:nth-last-child(3) {
  float: right;
  background-color: #024c93;
  color: white;
  padding: 0 2em;
}

.md-tabs__list li:nth-last-child(1) a,
.md-tabs__list li:nth-last-child(2) a,
.md-tabs__list li:nth-last-child(3) a {
  opacity: 1;
}

.md-tabs__list li:nth-last-child(1) a:hover,
.md-tabs__list li:nth-last-child(2) a:hover,
.md-tabs__list li:nth-last-child(3) a:hover {
  color: var(--md-accent-fg-color);
}

.md-nav__title .md-nav__button.md-logo img,
.md-nav__title .md-nav__button.md-logo svg {
  width: auto;
}

.md-typeset a {
  color: #024c93;
  word-break: break-word;
}

.md-typeset .admonition, .md-typeset details {
  font-size: .7rem;
}

/**Modify H1**/
.md-typeset h1 {
  margin: 1em 0 0.75em;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--nav-item-color);
}

.md-typeset h2 {
  font-weight: 500;
}

.md-typeset>h1:first-of-type {
  margin: 0 0 0.75em;
}

.md-version__list li:nth-last-child(1) a {
  color: gray;
}

/* bit of a hack to stop the banner taking space when empty */
.md-banner .md-banner__inner {
  margin: 0 auto;
  padding: 0;
}

.md-banner {
  background: #fff5b5;
}

.md-banner .versionwarning h1 {
  font-weight: bold;
}

.md-banner .versionwarning p {
  color: black;
}

.md-banner a {
  color: blue;
  text-decoration: underline;
}


.md-typeset .admonition {
  font-size: 100%;
}

.md-typeset .md-button {
  color: #024c93;
}

/* Giving h4 tag distinctive style because it is non-differntial with bold text */
.md-typeset h4 {
  font-size: .9rem;
  font-weight: normal;
}

/* Widen the main column a bit to help with wide tables.
   Note that extra-wide columns can make it hard to read prose,
   so there is a tradeoff here. */
.md-grid {
  max-width: 68rem;
}

/*Make definition list definitions stand out*/
.md-typeset dt {
  font-weight: bold;
  font-style: italic;
}

/* Cookie Banner */
#cookieModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

#cookieModal .modal-dialog .opt-out {
  display: none;
}

.modal-dialog {
  position: fixed;
  margin: 0;
  top: 35px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  left: 5%;
  padding-left: 8%;
  padding-right: 8%;
  color: black;
}

.cookienotice {
  overflow: hidden;
  outline: 0;
  position: fixed;
  display: none;
  padding-top: 15px;
  bottom: 0;
  right: 0;
  left: 0;
  background: #c3c3c3;
  z-index: 1000;
  text-align: center;
  color: black;
}

.cookienotice .text {
  float: left;
  margin-left: 15px;
  margin-right: 100px;
  font-size: .875rem;
}

.cookienotice .text p {
  margin-top: 0;
}

.cookienotice .buttons {
  position: fixed;
  right: 0;
  float: right;
  padding-right: 15px;
}

.cookienotice .buttons .close {
  margin-right: 15px;
  top: 0;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  cursor: pointer;
}

.cookienotice .buttons .ok {
  background: #6695ca;
  color: #fff;
  margin-right: 15px;
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: 0;
  cursor: pointer;
}

.modal-body {
  position: relative;
  flex: auto;
  padding: 1rem;
}

*, :after, :before {
  box-sizing: inherit;
}

.modal-content {
  box-shadow: 1px 1px 4px #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  outline: 0;
}

.modal-dialog .md-button {
  color: #024c93;
}

.modal-dialog .md-button--primary {
  color: white;
  background-color: #024c93;
}

/* Tame the footer and make the prev/next stand out */
.md-footer {
  color: var(--md-typeset-a-color);
  background-color: #024c93;
}

.md-footer .md-footer-copyright {
  font-weight: bold;
}

.md-footer-meta {
  background-color: var(--md-footer-bg-color);
}

.footer-links {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.footer-links a {
  margin: 0.4em;
  text-decoration: underline
}

/* Feature State Labels */
.feature-alpha, .feature-beta, .feature-stable {
  font-variant: small-caps;
  padding: 0.1em;
  border-bottom: 1px dotted #999;
  display: inline-block;
  font-weight: bold;
}

.feature-alpha {
  background: rgb(255, 218, 218);
}

.feature-beta {
  background: rgb(251, 244, 182);
}

.feature-stable {
  background: rgb(228, 255, 218);
}

.md-nav--primary .md-nav__title[for=__drawer] {
  color: black;
}

/* Testimonials */
.testimonials h1, .testimonials h2,
.testimonials h3, .testimonials .normal-text,
.testimonials .quote {
  font-family: inherit;
}

.testimonials h1, .testimonials h2,
.testimonials h3 {
  font-weight: bold;
}

.testimonials h1 {
  color: #024c93;
  margin-bottom: -26px;
}

.testimonials h2 {
  font-size: 2em;
  color: #024c93;
  margin-bottom: -12px;
}

.testimonials h3 {
  font-size: 1.65em;
}

.testimonials .testimonial {
  display: flex;
}

.testimonials .testimonial .img {
  margin: auto 30px auto 60px;
}

.testimonials .quote {
  margin: auto 0;
  text-align: start;
  padding: 0 2em;
  color: #497bb2;
  font-weight: 500;
  line-height: 1.1;
  font-family: inherit;
  font-size: .85rem;
  border-left: #4db3d9 4.5px solid;
}

.testimonials .testimonial img {
  max-width: 130px;
}

.testimonials .testimonial.blue img {
  max-width: 160px;
  width: 160px;
}

.testimonials .testimonial.blue {
  border-top: #4db3d9 2.5px solid;
  padding-top: 60px;
}

.testimonials .testimonial.blue .quote {
  font-size: 1.3rem;
  font-weight: 500;
  color: #4db3d9;
  border: none;
}

.testimonials .quote .phrase {
  font-size: 1.15rem;
  font-style: italic;
  font-weight: bold;
  font-family: serif;
}

.testimonials .normal-text {
  font-weight: 600;
  font-size: .86rem;
  color: #6e6e6e;
}

.testimonials a {
  color: #175494;
}

.testimonials .find-links {
  padding-top: 16px;
}

@media screen and (max-width: 76.1875em) {
  .md-nav--primary .md-nav__item--active>.md-nav__link {
    color: var(--nav-item-color);
  }
}

.TFtable {
  width: 100%;
  border-collapse: collapse;
  font-size: 90%;
}
.TFtable th {
  background-color: #3b6672;
  color: #eee;
  font-size: 90%;
}
.TFtable tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.TFtable thead {
  background-color: #3b6672;
  color: #eee;
}

.md-typeset__table {
  min-width: 100%;
  border-collapse: collapse;
}
.md-typeset__table th,
td {
  text-align: left;
  padding: 8px;
}
.md-typeset__table thead {
  background-color: #3b6672;
  color: #eee;
}
.md-typeset__table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

body,
html
{

  counter-reset: h2;
}
h2 {
  counter-reset: h3;
}
h3 {
  counter-reset: h4;
}
h4 {
  counter-reset: h5;
}
h5 {
  counter-reset: h6;
}
article h2:before {
  content: counter(h2, decimal) ". ";
  counter-increment: h2;
}
article h3:before {
  content: counter(h2, decimal) "." counter(h3, decimal) ". ";
  counter-increment: h3;
}
article h4:before {
  content: counter(h2, decimal) "." counter(h3, decimal) "."
    counter(h4, decimal) ". ";
  counter-increment: h4;
}
article h5:before {
  content: counter(h2, decimal) "." counter(h3, decimal) "."
    counter(h4, decimal) "." counter(h5, decimal) ". ";
  counter-increment: h5;
}
article h6:before {
  content: counter(h2, decimal) "." counter(h3, decimal) "."
    counter(h4, decimal) "." counter(h5, decimal) "." counter(h6, decimal) ". ";
  counter-increment: h6;
}
h2.nocount:before,
h3.nocount:before,
h4.nocount:before,
h5.nocount:before,
h6.nocount:before {
  content: "";
  counter-increment: none;
}

/* Datatables */

div.dataTables_wrapper {
  margin-bottom: 3em;
}

.md-typeset .admonition, .md-typeset details {
  font-size: inherit;
}

table.dataTable td {
  font-size: 15px;
}
table.dataTable tr.dtrg-level-0 td {
  font-size: 15px;
}


.TFtable2 {
  width: 100%;
  border-collapse: collapse;
}

/* .TFtable2 th {
  background-color: #5665b9;
  color: whitesmoke;
} */

.TFtable2 tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.TFtable2 tr td a {
  font-weight: 500!important;
  font-size: 92%;
}


.TFtable2 link { color: #024c93; }
.TFtable2 :visited { color: #551A8B; }


:root {
  --md-admonition-icon--pied-piper: var(--md-admonition-icon--example)
}
.md-typeset .admonition.pied-piper,
.md-typeset details.pied-piper {
  border-color: transparent;
}
.md-typeset .pied-piper > .admonition-title,
.md-typeset .pied-piper > summary {
  background-color: rgba(68,138,255,.1);
}
.md-typeset .pied-piper > .admonition-title::before,
.md-typeset .pied-piper > summary::before {
  background-color: #448aff;
  -webkit-mask-image: var(--md-admonition-icon--pied-piper);
          mask-image: var(--md-admonition-icon--pied-piper);
}

.md-search-result__more summary {
  color: green;
}


#if-then {
  border-collapse: collapse;
  width: 100%;
  font-size: .8rem;
}

#if-then td, #if-then th {
  border: 1px solid #ddd;
  padding: 8px;
}

#if-then tr:nth-child(even){background-color: #f2f2f2;}

/* #if-then tr:hover {background-color: #ddd;} */

#if-then th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #448aff;
  color: white;
}



.highlight span.filename {
  background-color: var(--md-code-bg-color);
  border-bottom: 0.05rem solid var(--md-default-fg-color--lightest);
  border-top-left-radius: 0.1rem;
  border-top-right-radius: 0.1rem;
  display: flow-root;
  font-size: .85em;
  font-weight: 700;
  margin-top: 1em;
  padding: 0.6617647059em 1.1764705882em;
  position: relative;
}

