<script>
    $(document).ready(function() {
        $('#example').DataTable( {
            columnDefs: [
                {
                    targets: ['_all'],
                    className: 'mdc-data-table__cell'
                }
            ]
        } );
    } );
</script>  

<table id="example" class="hover stripe TFtable2" style="width: 100%">
    <thead>
        <tr>
            <th>Point Reference #</th>
            <th>Title</th>
        </tr>
    </thead>
    <tr>
        <td>
            <a href="ess/self-service-ess/?22624#feb-2022-22624" target="_blank">Feb 2022- #22624</a>
        </td>
        <td>
            <a href="ess/self-service-ess/?h=compensatory#compensatory-off-entitlement-in-web" target="_blank">
                Compensatory Off Entitlement in web</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="ess/tam-ess/?change+week+start+attendance+regularization#feb-2022-24335" target="_blank">
                Feb 2022- #24335</a>
        </td>
        <td>
            <a href="ess/tam-ess/?change+week+start+attendance+regularization#change-the-week-start-in-attendance-regularization"
                target="_blank">
                Change the week start in Attendance Regularization</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="ess/tam-ess/?shift+information+in+view#feb-2022-23957" target="_blank">
                Feb 2022- #23957</a>
        </td>
        <td>
            <a href="ess/tam-ess/?shift+information+in+view#shift-information-in-view-calendar" target="_blank">
                Shift information in View Calendar</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="ess/tam-ess/?hide+fields+ot+approval#feb-2022-23660" target="_blank">
                Feb 2022- #23660</a>
        </td>
        <td>
            <a href="ess/tam-ess/?hide+fields+ot+approval#hide-fields-from-ot-approval-grid" target="_blank">
                Hide Fields from OT Approval Grid</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="ess/tam-ess/?approval+workflow+redirection+policy+attendance#feb-2022-23659" target="_blank">
                Feb 2022- #23659</a>
        </td>
        <td>
            <a href="ess/tam-ess/?approval+workflow+redirection+policy+attendance#approval-workflow-redirection-policy-in-attendance-regularization"
                target="_blank">
                Approval Workflow redirection Policy in Attendance Regularization</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="hrw/hrw-admin/?option+upload+user+alert#feb-2022-22349" target="_blank">
                Feb 2022- #22349</a>
        </td>
        <td>
            <a href="hrw/hrw-admin/?option+upload+user+alert#option-to-upload-user-alert-setup" target="_blank">
                Option to upload user alert setup</a>
        </td>
    </tr>
    <tr>
        <td><a target="_blank" href="ess/self-service-ess/#mar-2022-22744">Mar
                2022- #22744</a></td>
        <td>
            <a target="_blank"
                href="ess/self-service-ess/#option-for-hr-to-update-hidden-or-view-fields-in-personal-records">
                Option for HR to update hidden or view fields in personal records</a>
        </td>
    </tr>
    <tr>
        <td><a target="_blank" href="ess/self-service-ess/#mar-2022-24467">Mar
                2022- #24467</a></td>
        <td>
            <a target="_blank" href="ess/self-service-ess/#auto-approval-for-benefit-claim">
                Auto Approval for benefit claim</a>
        </td>
    </tr>
    <tr>
        <td>
            <a target="_blank" href="ess/payroll-management-ess/#mar-2022-24604">
                Mar 2022- #24604</a>
        </td>
        <td>
            <a target="_blank" href="ess/payroll-management-ess/#salary-increment-report-from-paf">
                Salary Increment report from PAF</a>
        </td>
    </tr>
    <tr>
        <td>
            <a target="_blank" href="ess/self-service-ess/?h=2022+mar#april-2022-23585">April 2022- #23585</a>
        </td>
        <td>
            <a target="_blank" href="ess/self-service-ess/?h=2022+mar#customisation-in-air-ticket">
                Customisation in Air Ticket</a>
        </td>
    </tr>
    <tr>
        <td>
            <a target="_blank" href="ess/self-service-ess/?h=2022+mar#april-2022-24620">April 2022- #24620</a>
        </td>
        <td>
            <a target="_blank" href="ess/self-service-ess/?h=2022+mar#upload-option-in-compensatory-off-entitlement">
                Upload option in Compensatory Off Entitlement</a>
        </td>
    </tr>
    <tr>
        <td><a target="_blank" href="ess/tam-ess/#april-2022-25356">April 2022- #25356</a></td>
        <td>
            <a target="_blank" href="ess/tam-ess/#remove-availed-weekly-off-in-the-view-calendar">
                Remove availed weekly off in the view calendar</a>
        </td>
    </tr>
    <tr>
        <td><a target="_blank" href="ess/hr-portal-ess/#april-2022-24739">April 2022- #24739</a></td>
        <td>
            <a target="_blank" href="ess/hr-portal-ess/#print-employee-details-from-ess">
                Print employee details from ESS</a>
        </td>
    </tr>

</table>